.strikethrough {
	text-decoration: line-through;
}

#content {
	width: 600px;
}

/*** Date Picker ***/
#date-picker {
	width: 100%;
	overflow: auto;
	background-color: #FCF;
}

#date-picker form {
	float: right;
	padding: 5px;
}

#date-picker form input[type=date] {
	width: 100px;
}

/*** Transaction Table ***/

#transaction-history {
	width: 600px;
}

#transaction-history table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 10px;
}

.date-col {
	width: 100px;
}

.desc-col {
	width: 250px;
}

.amnt-col {
	text-align: right;
	width: 100px;	
}

.edit-col {
	text-align: right;
	width: 50px;
}
