<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

	<appender name="error" class="org.apache.log4j.FileAppender">
		<param name="threshold" value="error" />
		<param name="file" value="error.log" />
		<layout class="org.apache.log4j.PatternLayout"> 
       		<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} [%-5p] %c{1} %m%n"/> 
      	</layout> 
	</appender>
	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="trace" />
		<layout class="org.apache.log4j.PatternLayout"> 
       		<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} [%-5p] %c{1} %m%n"/> 
      	</layout> 
	</appender>
	
	<root>
		<priority value="info"/>
		<appender-ref ref="error"/>
		<appender-ref ref="stdout"/>
	</root>
	
</log4j:configuration>